*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
body{
  display:inline;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Nav{
  background-color: rgba(17, 17, 17, 0.67);
}
.Nav li{
  display:inline-block;
  padding:20px;
  width:14%;
  

}

.Nav li a{
  text-decoration: none;
  color:white;

    padding: 10px;
    display: inline-block;
}
.Nav li a:hover{
  border:1px;
  color:black;
  background-color: aliceblue;

}
.Sidebar{
  float:left;
  color:white;
  width:100%;
  /* background-color: black; */
  

}
.Nav-Buttons li{
  display:inline-block;
  margin: 20px;
  width: 20%;
}
.Nav-Buttons li a{
  background-color: black;
  color:white;
  text-decoration: none;
  padding:10px;
  display: inline-block;
  width: 100%;
}
.search-input text{
  color:black;
  background-color: black;
  
}
.search-input{
  margin-bottom: 10px;
}
.search-input input{
  /* float:right; */
  padding:10px;
  width:200px;
}
.from{
  background-color: burlywood;
  width: 200px;
border:1px solid black;
  padding:10px;

}
.subject{
  background-color: lightsteelblue;
width:200px;
border:1px solid black;
padding:10px;}
.subject:hover{
  background-color:lavender;
  cursor:pointer;
}
.from:hover{
  background-color:lemonchiffon;
  cursor: pointer;
}
.Fuzzy-search{
  margin-left: 15px;
}
.mails-parent{
  max-height: 500px;
  overflow-y: auto;
  width:200px;
  overflow-x: hidden;
}
.ProfilePic img{
  margin:20px;
  width: 20%;
  display: inline-block;
}
.Profile{
  margin:2%;
  background-color: rgb(184, 181, 181);
  max-height: 500px;
  border:1px solid black;
  width:50%;
  padding:5px;
}
.Profile img{
  margin:20px;
  width:47%;
  
}
.ProfilePic img{
  margin:20px;
  width:10%;
  padding:10%;
  float:left;
}
.Profile input text{
  dipslay:inline-block;
}
.Profile textarea{
  /* display:inline-block; */
  padding:10px;
  width:50%;
  resize:none;
}
.Profile label{
  background-color: cornflowerblue;
  margin:2px;
}
.name label p{
  margin:2px;
  padding:50px;
}
.Location{
  display:inline;
}
.Location text{
  background-color: black;
  width:50%;
}
#createprofilebutton{
  display:none;
}
#dangermessage{
  display:none;
  color:red;
}
#login-form{
  border-radius: 5px;
  padding:10px;
  border:1px solid #ccc;
  margin: 10px 20px;
  width: 50%;
  
  }
  .form{
    display: inline-block;
  }
.homeheader{
  background-image: url('headhuman.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1537px;
}
.header-nav{
  width: 100%;
  display: inline-block;
  padding:0px 20px 0px 20px;
  
}
.header-left-nav{
  width:40%;
  display: inline-block;
  /* border:1px solid white; */
  padding:0px 20px 0px 20px;
  margin:0px 20px 0px 20px;
}
.header-right-nav{
  width:30%;
  display:inline-block;
  /* border:1px solid white; */
  padding:0px 20px 0px 20px;
  margin:0px 20px 0px 20px;
  position: absolute;
  right:200px;
}
.header-right-nav ul {
display: inline-block;
color:white;
padding: 0px 20px 0px 20px;
list-style-type: none;
}
.header-left-nav ul a{
  color:white;
  text-decoration-line: none;
}
.header-right-nav ul a{
  color:white;
  text-decoration-line: none;
}
.header-left-nav ul {
  display: inline-block;
  color: white;
  padding: 0px 20px 0px 20px;
  list-style-type: none; 
}
.header-left-nav ul li{
  display: inline;
  padding:0px 25px;
}
.header-right-nav ul li{
  display: inline;
  padding:0px 25px;
}
.header-left-nav ul li:hover{
  cursor:pointer;
  background-color:rgba(0, 112, 209, 0.74);
  border-radius: 25px;
}
.header-right-nav ul li:hover{
  cursor: pointer;
  background-color: rgba(0, 112, 209, 0.74);
  border-radius: 25px;
}
.container{
  width:1340px;
  margin:auto;
  padding:20px;
}
.HeaderBody{
  padding:20px 0px 0px 0px;
  /* border: solid 1px white; */
  margin-top: 20px;
}
.HeaderBodyContent{
  /* border:1px solid gray; */
  padding:20px;
}
.HeaderBodyContent h1{
  font-size: 156px;
  margin: 0px;
  color: rgba(223, 224, 226, 0.7);
  text-align: justify;

}
.HeaderBodyContent h1 span{
  text-align: center;
  width: 100%;
  display: inline-block;
}
.HeaderBodyContent p{
  color:white;
  text-align: center;
  font-weight: bold;
  background-color:rgba(0, 112, 209, 0.74)
}
.section{
  background-color: white;
  width: 80%;
  padding: 20px;
  align-content: center;
  margin:72px auto 0px;
  /* border-radius: 48px; */
  
}
.ParentColumn{
  /* border:1px solid red; */
  background-color:#ccccff;
  padding:0px 100px;
  border-radius: 20px;
}
.Column{
  width:30%;
  display:inline-block;
  border:1px solid blue;
  margin:10px 5px ;
  background-color: lavender;
  border-radius: 20px;
  padding:2px 20px;
  
}
.Column h3{
  height: 44px;
}
.TagLine p{
  align-content: center;
}
.sectionmiddle{
  /* border:1px solid black; */
  margin:5px;
  width:100%;
  border-radius: 10px;
  
}
.BasicComponents{
  /* border:1px solid red; */
  display: inline-block;
  width:48%;
  margin: 5px;
}
.BasicComponents p{
  
}
.sectionmiddle-image{
  /* border:1px solid red; */
  display: inline-block;
  width:50%;
  
}
.sectioncards{
  /* border:1px solid black; */
  border-radius: 10px;
  width:100%;
}
.cardsdescription{
  /* border:1px solid red; */
  margin:0px;
  display: inline-block;
  width:50%;
}
.cardsimage img{
  display:inline-block;
  width:50%;
}
.cardsimage {
  display: inline-block;
  /* border:1px solid red; */
  margin:2px 20px;
  width:45%;
  background-image: url('./sectionmiddleimage.jpeg');
  background-repeat: no-repeat;
  vertical-align: top;
  height:300px;
  background-size: 445px 298px;
}
.cardsimage h3{
  color:white;
text-align: center;

}
.contentarea{
  /* border:1px solid black; */
  border-radius: 10px;
  padding:20px;
  /* background-color:rgb(192, 206, 243) */
  background-color: #d5e6eb;
}
.ContentAreasText{
  /* border:1px solid blue; */
  display: inline-block;
  width: 50%;
  border-radius: 15px;
  vertical-align: top;
  background-color:white;
  
}
.ContentAreasText h4 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  margin-left:-284px;
  background-color: white;
}
.ContentAreasText p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 20px;
  min-height: 868px;
 
}
.contentAreaImage{
  /* border:1px solid blue; */
  width: 50%;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  min-height: 503px;

}
.contentAreaImage img{
  width:85%;
  margin-left: 75px;
  margin-top: 283px;
  ;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding:10px;
  margin-top:20px;
}
.grid-item{
  border:1px solid black;
  padding:20px;

}
.grid-item:hover{
  background-color: black;
  
}
.portfolio{
  /* border:1px solid red; */
  margin-top: 50px;
  background-color: #54545f;
  border-radius: 10px;
  border-block-start-width: 20px;

}
.portfolio h3{
  text-align:center;
  text-decoration-line: underline;
  font-size: 41px;
  color: white;
  
}
.slogans{
  background-image: url('./backdark.jpeg');
  background-repeat: no-repeat;
  background-size: 1300px 440px;
  color:white;
}
.slogans h1{
  margin-left:410px;
  color:white;
}
.slogansgrid{
  display: grid;
  grid-template-columns: auto auto auto;
}
.sloganitem{
  border:1px solid white;
  border-top-style: none;
  padding:20px;
}
.sloganitem h3{
  text-align: center;
  color:white;  
}
.sloganitem p{
  color:white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  
}
.sloganicon img{
  width:25%;
  margin-left:150px;
}
.clients{
  text-align: center;
  margin-top: 130px;
}
.clients-grid{
  display: grid;
  grid-template-columns: auto auto auto;
}
.clientitem{
  padding:20px;
  border:1px solid black;
  border-top-style: none;
  border-bottom-style: none;
}
.clientimage img{
  width:130px;
}
.clientorganization{
  display: grid;
  grid-template-columns: auto auto auto;
}
.clientorgnaziationitem{
  padding:20px;

}
.clientorgnaziationitem img{
  width:130px;
}
.footer{
  text-align: center;
}
.pull-center-footer-list li{
  display: inline-block;
  padding:20px;
}
.pull-center-footer-list{
  background-color: black;
  border-radius: 10px;
  color:white;
}
.footer-brand {
  display:inline-block;
  float: left;
  color: white;
  font-size: 40px;
}
.pull-center-footer-list a{
  color:white;
}
.pull-right-footer-social li{
  display: inline-block;
  padding: 20px;
}
.contact-us{
  /* border:1px solid red; */
  /* min-height: 380px; */
}
.contact-form{
  padding:20px;
  /* height: 265px; */
}
.conform{
  padding:20px;
 
  background-color: #d5e6eb;
  min-height: 227px;
  display: inline-block;
    
    width: 568px;
  background-image: url('./backdark.jpeg');
}
.form-control{
  padding:5px;
  display: inline-block;
  margin-left:140px;

}
.form-label{
  vertical-align: middle;
  display: inline-block;
}
.contactusmessage{
  margin-top: 0px;
  display: inline-block;
  width:53%;
  vertical-align: top;
  margin-top: 61px;
  background-image: url('./backdark.jpeg');
  background-size: 100%;
  background-repeat: none;
  min-height:337px;
  border-radius: 15px 0px 0px 0px;
}
.contactusmessage p{
  text-align: justify;
  color:white;
  padding:21px;
  

}
.controls{
  /* border:1px solid green; */
  padding:20px;
  border-radius: 10px;
  background-color: #ccccff;
  margin: 4px;
}
.forms{
  display: inline-block;
  background-image: url('./backdark.jpeg');
  background-size: 100%;
  background-repeat: none;
  border-radius: 15px;
}
.forms h3{
  text-align: center;
  color: white;
}
.form-label{
  vertical-align: top;
}
.button-control{
  background-color:slateblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:10px;
    border-radius: 10px;
}
.button-control{
  margin-left: 200px;
}